<div class="about">
  <h1 class="about-header">About me</h1>
  <p class="about-body">I am first an engineer, but I have a degree in Communication Design and a high degree of talent in fine art and creative media in general. I didn't realize my dream goal until after I had tried my hand at many things including:  two degrees, multiple employment changes, and several engineering positions.</p>
<p class="about-body">
     After all those things, I realized I just wanted to be the creative guy I was always meant to be.  I wanted to make toys, comics, games, animation, music and more.  And in this case, for the first iteration at least, I want them all to be tied together.  Also, if they need some engineering ingenuity, why not incorporate that? I know what you're thinking:  there isn't much here now.  But I say things will change quickly.  So sit back and enjoy.  The only limits to how far I can take this are the extent of your and my imagination."</p>

  </p>
</div>
