<div class="about">
  <h1 class="about-header">About me</h1>
  <p class="about-body">"I am first an engineer, but I have a degree in Communication Design and a high degree of talent in fine art and creative media in general.

I didn't realize my dream goal until after I had tried my hand at many things including:  two degrees, multiple employment changes, and several engineering positions.

After all those things, I realized I just wanted to be the creative guy I was always meant to be.  I wanted to make toys, comics, games, animation, music and more.  So that's exactly what I set out to do.

I know what you're thinking:  there isn't much here now.  But things will change quickly.  So sit back and enjoy.  The only limit is the imagination."
  </p>
</div>
