<header class="site-header">

  <div class="wrapper">

  <div class="header-wrapper">
    <img class="avatar" src="../img/avatar.jpg" alt="">
    <h1 class="name">Matt Cruz</h1>
    <h1 class="name-title">Toy Engineer</h1>
    <svg  class="triangle" xmlns="http://www.w3.org/2000/svg" width="54.688" height="47.5" viewBox="0 0 54.688 47.5">
      <path id="triangle" data-name="triangle"  d="M755,831l-26.847-46.5h53.694Z" transform="translate(-727.656 -784)"/>
    </svg>

  </div>

  </div>

</header>
