<div class="work">

  <h1 class="work-header">My Work</h1>

  <h2 class="work-subheader">Prototype Models</h2>
  <div class="work-container">
    <div class="flex-row">
      <div class="box box-1">
        <div class="overlay">
          <span class="hover-text">Rebel Snowspeeder<br>This was a neat project to prove that you could make a quality toy,
            based on a popular toyline, but at less cost.
            Although the materials did cost less, I think I probably lost money through time here.
             The project took about 4 months to complete from initial measurements and conversions,
              to painting and fabricating the tow-cable mechanism.</span>
        </div>
      </div>
      <div class="box box-2">
        <div class="overlay">
          <span class="hover-text">Rebel Snowspeeder<br>Altogether it was a great project that taught me lessons to use on later projects.
              For instance it's better to use Metric measurements when scaling from smaller blueprints,
             because Standard measurements make things more complicated with fractional inches and not using base-ten systems.</span>
        </div>
      </div>
      <div class="box box-3">
        <div class="overlay">
          <span class="hover-text">Rebel Snowspeeder<br>The speeder includes a working canopy, and an "in progress" tow-cable.
             It is at "full size"-3-3/4" scale.
              I say full size because many large 3-3/4" scale vehicles are slightly scaled down for various reasons.</span>
        </div>
      </div>
    </div>
  </div>
  <h2 class="work-subheader">Concept Art</h2>
  <div class="work-container">
    <div class="flex-row">
      <div class="box box-4">
        <div class="overlay">
          <span class="hover-text">Leonardo and Foot Soldier Concepts<br>Barring any copyright infringement,
            I would like to make a fresh toy line based on an older franchise.  I can't say much about this other than
            it would take what you already know about lines such as the Ninja Turtles and give a fresh perspective on things.
          Coming soon...</span>
        </div>
      </div>
      <div class="box box-5">
        <div class="overlay">
          <span class="hover-text">Create Ur Toy<br>Ever want to customize or recreate your favorite toys; but don't know how, have the means, or won't because it's just too expensive?  Well now you don't have to worry about those things.  Create Ur Toy takes care of those problems for you.
            Create Ur Toy gives you step-by-step instructions on how to make fully-pose-able
  and detailed action figures.  It also gives you the tools and materials to make them.  You can make your own toy line, or make replicas of an existing one.</span>
        </div>
      </div>
      <div class="box box-6">
        <div class="overlay">
          <span class="hover-text">Create Ur Toy<br>The box kit also comes with two paint-able and build-able characters from the new "The Daydreamer" comic book series:  the Sentry and Giant Ant.

Patent and copyright are pending.

Coming soon...</span>
        </div>
      </div>
    </div>
  </div>

</div>
