<div class="work">

  <h1 class="work-header">My Work</h1>

  <h2 class="work-subheader">Prototype Models</h2>
  <div class="work-container">
    <div class="flex-row">
      <div class="box box-1">
        <div class="overlay">
          <span class="hover-text">some title<br>some filler text</span>
        </div>
      </div>
      <div class="box box-2">
        <div class="overlay">
          <span class="hover-text">some title<br>some filler text</span>
        </div>
      </div>
      <div class="box box-3">
        <div class="overlay">
          <span class="hover-text">some title<br>some filler text</span>
        </div>
      </div>
      <!--
      <img class="work-image" src="../img/starwars2.jpg" alt="">

      <img class="work-image" src="../img/starwars3.jpg" alt="">
      <img class="work-image" src="../img/starwars1.jpg" alt="">
      !-->
    </div>
  </div>
  <h2 class="work-subheader">Concept Art</h2>
  <div class="work-container">
    <div class="flex-row">
      <div class="box box-4">
        <div class="overlay">
          <span class="hover-text">some title<br>some filler text</span>
        </div>
      </div>
      <div class="box box-5">
        <div class="overlay">
          <span class="hover-text">some title<br>some filler text</span>
        </div>
      </div>
      <div class="box box-6">
        <div class="overlay">
          <span class="hover-text">some title<br>some filler text</span>
        </div>
      </div>
    </div>
  </div>

</div>
