// Variables

$on-palm: 900px;

/**
 * Site header
 */
.site-header {
  background: url(../img/background_header.jpg);
  background-size: cover;
  height: 880px;
    // Positioning context for the mobile navigation icon
    position: relative;
}


.avatar {
  border-radius: 100%;
  border-width: 6px;
  border-color: white;
  border-style: solid;
  @include media-query($on-palm) {
    width: 200px;
  }
}

.name {
  margin-top: 60px;
  @include media-query($on-palm) {
  font-size: 24px;
  }
}
.name-title {
  font-family: 'Lato', sans-serif;
  font-size: 60px;
  @include media-query($on-palm) {
  font-size: 24px;
  }
}

.header-wrapper{
  text-align: center;
  padding-top: 250px;
}

.triangle {
  fill: #f4f4f4;
  margin-top: 50px;
  @include media-query($on-palm) {
  width: 20px;
  margin-top: 25px;
  }
}

/**
* About me section
*/

.about {
  background-color: #092641;
  text-align: center;
  min-height: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.about-header {
  margin-bottom: 70px;
  margin-top: 20px;
  @include media-query($on-palm) {
  font-size: 24px;
  margin-bottom: 20px;

  }
}
.about-body {
  padding: 0 100px;
  font-size: 24px;
  color: #f4f4f4;
  font-weight: 300;
  @include media-query($on-palm) {
    padding: 0 50px;
    font-size: 14px;

  }
}

/**
* Work Section
*/

.work-container {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
}

.work {
  color: #333;
  text-align: center;
  padding: 40px 75px 175px;
}
.work-header {
  color: #333;
}
.work-image{
  padding: 0 10px;
}

$magic-height: 410px;
$magic-width: 287px;

.box {
  display: inline-block;
  max-width: $magic-height;
  max-height: $magic-width;
  @include media-query($on-palm) {
  max-width: $magic-height / .5;
  max-height: $magic-width / .5;
  }

}



.overlay {
  background: rgba(0, 0, 0, .75);
  text-align: center;
  padding: 45px 10px 66px 10px;
  opacity: 0;
  -webkit-transition: opacity .25s ease;
  -moz-transition: opacity .25s ease;
  height: 100%;
}

.box:hover .overlay {
  opacity: 1;
}

.flex-row {
  padding: 10px 10px;
}

.hover-text {
  font-family: Helvetica;
  font-weight: 400;
  color: rgba(255, 255, 255, .85);
  font-size: 14px;
  padding: 0 5px;
}

/**
 * Site footer
 */

.site-footer {
  background-color: #333;
  text-align: center;
  padding: 20px;
  h1{
    font-size: 30px;
  }
}

.footer-contact {
  color: #f4f4f4;
  font-size: 20px;
}
