/**
 * Site header
 */
.site-header {
  background: url(../img/background_header.jpg);
  background-size: cover;
  height: 880px;
    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}
.avatar {
  border-radius: 100%;
  border-width: 6px;
  border-color: white;
  border-style: solid;
}

.name {
  margin-top: 60px;
}
.name-title {
  font-family: 'Lato', sans-serif;
  font-size: 60px;
}

.header-wrapper{
  text-align: center;
  padding-top: 250px;
}

.triangle {
  fill: #f4f4f4;
  margin-top: 50px;
}

/**
* About me section
*/

.about {
  background-color: #092641;
  text-align: center;
  min-height: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.about-header {
  margin-bottom: 70px;
}
.about-body {
  font-size: 30px;
  color: #f4f4f4;
  font-weight: 300;
}

/**
* Work Section
*/

.work-container {
  display: flex;
  justify-content: center;
}

.work {
  color: #333;
  text-align: center;
  padding: 40px 75px 175px;
}
.work-header {
  color: #333;
}
.work-image{
  padding: 0 10px;
}

.box {
  display: inline-block;
  width: 410px;
  height: 287px;

}

.box-1{
  background: url(../img/starwars1.jpg);
  background-size: cover;
  overflow: hidden;
}
.box-2{
  background: url(../img/starwars2.jpg);
  background-size: cover;
  overflow: hidden;
}
.box-3{
  background: url(../img/starwars3.jpg);
  background-size: cover;
  overflow: hidden;
}
.box-4{
  background: url(../img/action.jpg);
  background-size: cover;
  overflow: hidden;
}
.box-5{
  background: url(../img/ant.jpg);
  background-size: cover;
  overflow: hidden;
}
.box-6{
  background: url(../img/createatoy.jpg);
  background-size: cover;
  overflow: hidden;
}

.overlay {
  background: rgba(0, 0, 0, .75);
  text-align: center;
  padding: 45px 0 66px 0;
  opacity: 0;
  -webkit-transition: opacity .25s ease;
  -moz-transition: opacity .25s ease;
  height: 100%;
}

.box:hover .overlay {
  opacity: 1;
}

.hover-text {
  font-family: Helvetica;
  font-weight: 900;
  color: rgba(255, 255, 255, .85);
  font-size: 20px;
}

/**
 * Site footer
 */

.site-footer {
  background-color: #333;
  text-align: center;
  padding: 20px;
  h1{
    font-size: 30px;
  }
}

.footer-contact {
  color: #f4f4f4;
  font-size: 20px;
}
